.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: var(--gap);
    text-align: center;
    margin-bottom: auto;
    padding: 0 5%;
}

.container h2 {
    color: var(--equator-green);
}

.container p {
    opacity: 0.5;
}
